<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/public/img/base.png" alt="Home" width="100" height="45"/>
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <!--
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        -->
          <a class="page-link" href="/">Home</a>
          <a class="page-link" href="/page/blog">Blog</a>
          <a class="page-link" href="/page/about">About</a>
      </div>
    </nav>

  </div>

</header>
